$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

header{
  text-align: center;
}


.form{
  margin: 20px auto;
  width: 500px;
  height: auto;
  text-align: left;
}

.form input{
  margin-right: 20px;
  border-radius: 5px;
	width: 200px;
}

.form input:focus{
  background-color: greenyellow;
  color: darkgrey;
}
